
<header>
  <h1>Books</h1>
  </header>

  <main>
    <div class ="success">
      <%= flash[:notice] %>
    </div>

  <div class="subtitle1">
    <div class="indextitle">
<h3>Title</h3>
</div>
<div class="indexbody">
<h3>Body</h3>
</div>
<div class="indextitle">
<h3>    </h3>
</div>

    </div>

   <% @books.each do |book| %>
   <li class="option">
     <div class="indextitle">
   <p><%= book.title %></p>
   </div>
   <div class="indexbody">
    <p><%= book.body %></p>
</div>
<div class ="option2">
 <%= link_to 'Show', book_path(book.id), method: :get, class: "link" %>
 </div>
 <div class="option2">
 <%= link_to "Edit", edit_book_path(book.id) %>
</div>
<div class="option2">
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</div>
</li>
    <% end %>
  </main>

<div class="new">
  <div class="newbook">
<h2>New book</h2>
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this book from being saved:
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
</div>
<div class ="newtitle">
<%= form_with model: @book, url: '/books', method: :post do |f| %>
<p>Title</p>
<%= f.text_field :title %>

<p>Body</p>
<%= f.text_area :body %><br>


<%= f.submit 'Create Book' %>
<% end %>
</div>
</div>
